$textColor: #635f5d;
$strokeColor: #5f5f5f96;
$bodyBackground: #dbdbdb;

body {
  margin: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background: $bodyBackground;

  .top-nav {
    display: grid;
    position: fixed;
    align-items: center;
    justify-content: center;

    top: 0;
    background-color: black;

    width: 100%;
    height: 50px;
    grid-template-columns: 1fr;
    ul {
      margin: 0 auto;
      width: 70%;
      text-align: left;

      li {
        display: inline;
        :hover {
          background-color: grey;
        }
        a {
          color: white;
          padding: 14px 16px;
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  .tick {
    font-size: 1em;
    line {
      stroke: $strokeColor;
    }

    text {
      fill: $textColor;
      cursor: default;
    }

    .axis-label {
      font-size: 1em;
      fill: $textColor;
      color: $textColor;
    }
  }

  .graph-container {
    display: grid;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    width: 70%;
    row-gap: 0;
    column-gap: 5%;

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
      "graph-full-title graph-full-title"
      "graph-controls graph";

    .graph-full-title {
      grid-area: graph-full-title;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      padding-bottom: 0;
      border-bottom: 1px solid $strokeColor;
      .graph-subtitle {
        font-size: medium;
      }
    }

    .graph-controls {
      align-self: start;
      grid-area: graph-controls;
      .dropdown-label {
        font-size: 1em;
        fill: $textColor;
        color: $textColor;
      }

      .Dropdown-root {
        font-size: 1em;
        margin-bottom: 10%;

        .Dropdown-menu {
          max-height: 400px;
        }
      }
    }

    .graph {
      border-left: 1px solid $strokeColor;
      grid-area: graph;
    }
  }
}
